{
  "env": {
    "production": {
      "presets": [
        "es2015", "stage-2"
      ],
      "plugins": [
        "transform-async-to-generator",
        "transform-object-rest-spread",
        ["transform-runtime", {
          "helpers": false,
          "polyfill": false,
          "regenerator": true
        }]
      ]
    }
  },
  "presets": ["stage-2"],
  "plugins": [
    "transform-object-rest-spread",
  ]
}